<html>
	<head></head>
	<body>
		<h1 id = "sl-ft-title"> About Socialite</h1>
<<<<<<< Updated upstream
		<h2 class = "sl-ft-sec"> What is it? </h2>
			<p> Socialite is the best way to find whats going on around you. Now.
		<h2 class = "sl-ft-sec"> How it began </h2>
			<p> This was created as a senior design project, the idea initially came to the team when it was reailzed it has hard to find things to do on a Friday night if there are no plans 
=======
			<p> 
		<h2 id = "sl-ft-sec"> Getting Started </h2>
			<p> 
>>>>>>> Stashed changes
	</body>
</html>
	