<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Socialite</title>
  </head>

  <body>

    <!-- header -->
    <div class="sl-header">
      <div class="sl-logo"><a href="/"><img src="/img/logo-wide.png"></a></div>
    </div>

    <!-- container for content -->
    <div class="sl-container">
      	
      <div class='sl-main-content'>
        
    	<!--  ACTUAL CONTENT -->

    	<h1 class="sl-ft-title">About Socialite</h1>

		<h2 class="sl-ft-sec">What is it?</h2>
			<p> Socialite is the best way to find whats going on around you. Now.</p>

		<h2 class="sl-ft-sec">How it began</h2>
			<p> Socialite was created as a senior design project. The idea initially came to the team when it was reailzed it has hard to find things to do on a Friday night if there are no plans </p>

		<h2 class="sl-ft-sec">The Team</h2>
			<p> Achintya Ashok </p>
			<p> Vincent Fong </p>
			<p> Aarti Patel </p>
			<p> Abhishek Sharma </p>
			<p> Tanay Ved </p>

		<!-- END OF ACTUAL CONTENT -->

      </div>    
    
    </div>

      <!-- footer -->
      <div class="sl-footer">
          <div class="grid">
          	<div class="col-1-2">
          		<ul>
          			<li><a href="/about">About</a></li>
          			<li><a href="/terms">Terms</a></li>
          			<li><a href="/privacy">Privacy</a></li>          			
          		</ul>
          	</div>
          	<div class="col-1-2">
      			<ul>
          			<li><a href="/businesses">Businesses</a></li>
          			<li><a href="/help">Help</a></li>
          			<li><a href="/contact-us">Contact</a></li>          			
          		</ul>
          	</div>
          </div>
      </div>

  </body>
</html>
	