<html>
	<head></head>
	<body>
		<h1 id = "sl-ft-title"> Help.</h1>
		<h2 class="sl-ft-sec"> Welcome to Socialite </h2>
			<p> Getting Started: FAQs and Getting Set Up
			<ul>
				<li> Getting Started </li>
				<li> Your Profile </li>
				<li> More </li>
			</ul>
		<p> ADD MORE CRAP IDK.
	</body>
</html>