<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Socialite</title>
  </head>
   <!-- header -->
    <div class="sl-header">
      <div class="sl-logo"><a href="/"><img src="/img/logo-wide.png"></a></div>
    </div>

    <!-- container for content -->
    <div class="sl-container">
      	
      <div class='sl-main-content'>
        
    	<!--  ACTUAL CONTENT -->
	<body>


		<h1 class = "sl-ft-title"> Help.</h1>
		<h2 class="sl-ft-sec"> Welcome to Socialite </h2>
			<p> Getting Started: FAQs and Getting Set Up </p>
			<ul>
				<li> Getting Started </li>
				<li> Your Profile </li>
				<li> More </li>
			</ul>
		<p> ADD MORE CRAP IDK. </p>

<!-- END OF ACTUAL CONTENT -->

      </div>    
    
    </div>

      <!-- footer -->
      <div class="sl-footer">
          <div class="grid">
          	<div class="col-1-2">
          		<ul>
          			<li><a href="/about">About</a></li>
          			<li><a href="/terms">Terms</a></li>
          			<li><a href="/privacy">Privacy</a></li>          			
          		</ul>
          	</div>
          	<div class="col-1-2">
      			<ul>
          			<li><a href="/businesses">Businesses</a></li>
          			<li><a href="/help">Help</a></li>
          			<li><a href="/contact-us">Contact</a></li>          			
          		</ul>
          	</div>
          </div>
      </div>

  </body>
</html>
	