/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,800);

body{
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	padding:0 !important;
	margin:0 !important;
}

/* GENERAL PAGE STRUCTURE */
div.sl-header{
	height:40px;
	padding:10px 40px;
	background-color:#fafafa;
}

div.sl-container{
	padding:20px 0px;
}

div.sl-main-content{
	width:60%;
	margin: 0 auto;
}

div.sl-footer{
	padding:10px;
	background-color:#fafafa;
}

div.sl-footer div.grid div.col-1-2{
	width:46.5%;
	padding:0px 20px;
}

div.sl-footer div.grid div.col-1-2:nth-child(1){
	text-align: right;
}

div.sl-footer div.grid div.col-1-2 ul{
	padding:0;
}

div.sl-footer div.grid div.col-1-2 ul li{
	list-style-type: none;
	font-size: 10pt;
	margin:10px 0px;
}

div.sl-footer div.grid div.col-1-2 ul li a, div.sl-footer div.grid div.col-1-2 ul li a:visited{
	color:#000;
}

/* HEADERS */

/* FOR FOOTER PAGES */
h1.sl-ft-title{
	text-align: center;
	color:#FC4957;
}

h2.sl-ft-sec{
	color:#5858FB;
}

h2.sl-ft-sec ~ p{
	margin-left:30px;
}

h3.sl-ft-sub-sec{
	color:#21D0B9;
}

/* END OF HEADERS FOR FOOTER */

/* GRID SYSTEM */
div.grid:after {
  content: "";
  display: table;
  clear: both;
}

div[class*='col-'] {
  float: left;
}

div.col-1-1{
	width: 100%;
}

div.col-1-2{
	width: 50%;
}

div.col-1-3{
	width: 33.33%;
}

div.col-2-3{
	width: 66.66%;
}